<div class="w-full">
  <%= render partial: 'simple_calendar/calendar_header', locals: { title: t('weekly', week: date_range.first.cweek), time: date_range.first, center: t('week', week: date_range.first.cweek),
                                                                   previous_path: calendar.url_for_previous_view,
                                                                   next_path:   calendar.url_for_next_view  } %>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= render "working_times/day", day: day, events: calendar.sorted_events_for(day), is_date_part_of_view: true, classes: "border-primary p-4 h-[70vh]" do %>
              <% instance_exec(&passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <%= render partial: "working_times/total_sum", locals: { events: sorted_events.values.flatten, start_date: sorted_events.values.flatten&.first&.start_time&.to_date, end_date: sorted_events.values.flatten&.first&.start_time&.to_date } %>
      <% end %>
    </tbody>
  </table>
</div>
